@import 'sprite';

/*Color vars*/
$blue: #78FFF5;
$green: #7FE878;
$green-light: #67E8B4;
$gray: #BEC4C5;
$content: #929FA3;

html {
	height: 100%;

}

body {
	background: #fff;
	height: 100%;
	font-size: 14px;
	color: $content;

}

UL {
	padding-left: 0px;

	LI {
		list-style-type: none;
		margin-bottom: 10px;

	}
}

A {
	color: #3B2FBD;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.b-page {
	padding: 30px 0 0 0;
	height: 100%;

	> .row {
		height: 100%;
		
	}

}

.b-sidebar {
	height: 100%;
	border-right: 1px solid #ccc;

}

.b-main {
	height: 100%;

}

.user {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;

	&__image {
		float: left;

	
		IMG {
			width: 80px;
			height: 80px;

		}
	}

	&__mail {
		float: left;
	    margin-left: 30px;

	}
}

.menu {
	margin-bottom: 30px;

	&__item {
		background: $gray;
		border-radius: 4px;

		A {
    		border-radius: 4px;

		}
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;

		&_transactions {
			@include sprite($ico-transactions);

		}

		&_statistics {
			@include sprite($ico-statistics);

		}

		&_settings {
			@include sprite($ico-settings);

		}
	}
}

.auth {
	min-height: 600px;
	float: none;
	
	&__logo {
		margin-bottom: 30px;
		text-align: center;

		IMG {
			width: 200px;

		}
	}

	&__form {
		margin-bottom: 30px;

	}

	FIELDSET {
		text-align: center;
    	margin-bottom: 10px;

    	BUTTON {

    		margin-top: 50px;
    	}
	}
}