<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for password recovery email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p >
            Hi there!
        </p>
        <p>
To change your HomeBudget password, please click on this 
<a href="#" th:href="@{'//#/reset/' + ${recoveryLink}}">link</a>.
<br/>
If you did not request this change, you do not need to do anything.
<br/>
This link will expire in <span th:text="${tokenLifeTime}">4</span> hours.
<br/>
<br/>


Thanks,
<br/>
HomeBudget Support Team
        </p>
    </body>
</html>
