    <div id="login" class="container-fluid">
        <div class="row">
            <img src="http://lorempixel.com/400/200/cats/1/" alt="Logo" class="img-rounded center-block form-group pad-image"></img>
        </div>
        <form  name="loginform" role="form" ng-submit="submit()" ng-controller="LoginController as ctrl">
            <div class="row pad-form">
                <div class=" col-md-4 col-md-offset-4  ">
                    <div class="form-group">
                        <input class="form-control input-lg " type="text" name="email" ng-model="userdata.email" validateEmail translate translate-attr-placeholder="login.form.email" placeholder="Email Address">
                    </div>
                    <ng-messages for="loginform.email.$error" role="alert">
                            <div class="alert alert-danger" ng-message="required"><span translate="login.validation.email_required"></span></div>
                            <div class="alert alert-danger" ng-message="regexp"><span translate="login.validation.email_regexp"></span></div>
                            <div class="alert alert-danger" ng-message="emaillength"><span translate="login.validation.email_length"></span></div>
                    </ng-messages>
                    <div class="form-group">
                        <input class="form-control input-lg" validatePassword  name="password" ng-model="userdata.password" type="password" translate translate-attr-placeholder="login.form.password" placeholder="Password">
                    </div>
                    <ng-messages for="loginform.password.$error" role="alert">
                            <div class="alert alert-danger" ng-message="required"><span translate="login.validation.password_length"></span></div>
                            <div class="alert alert-danger" ng-message="regexp"><span translate="login.validation.password_regexp"></span></div>
                            <div class="alert alert-danger" ng-message="passwordlength"><span translate="login.validation.password_length"></span></div>
                    </ng-messages>
                    <div ng-if="ctrl.error" class="alert alert-danger"> {{ctrl.message}}</div>
                    <div ng-if="!ctrl.error && ctrl.error !== undefined" class="alert alert-info"> {{ctrl.message}}</div> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 ">
                   <input type="submit" translate translate-attr-value="login.form.submit" value="Log In" ng-disabled="loginform.$invalid || loginform.email.$pristine || loginform.password.$pristine" class="btn btn-primary btn-lg btn-block center-block" />
                </div>
            </div>
        </form>
        <div class="row">
	    <br/>
            <div class="col-md-4 col-md-offset-4" role="alert">
                <a href="#/reset" class="alert-link" translate="login.forgot_password_link">Forgot password?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <hr/>
		<p class="text-center" translate="login.alternative_login">or connect with</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <hb-social ng-provider="facebook"></jh-social>
            </div>
            <div class="col-md-2 ">
                <hb-social ng-provider="google"></jh-social>
            </div>
            </div>
        </div>
    </div>