    <div id="reset" class="container-fluid">
        <div class="row">
            <img src="http://lorempixel.com/400/200/cats/1/" alt="Logo" class="img-rounded center-block form-grou pad-image"></img>
        </div>
        <form name="resetform" role="form" ng-submit="submit()" ng-controller="ResetController as ctrl">
            <div class="row">
                <div class=" col-md-4 col-md-offset-4 text-center">
                    <div class="form-group">
                        <label class="h2">Reset password</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg " type="text" name="email" ng-model="userdata.email" validateEmail placeholder="Email Address">
                    </div>
                    <ng-messages for="loginform.email.$error" role="alert">
                            <div class="alert alert-danger" ng-message="required">Введите Email</div>
                            <div class="alert alert-danger" ng-message="regexp">Введены некорректные данные</div>
                            <div class="alert alert-danger" ng-message="emaillength">Email должен содержать от 6 до 60 символов</div>
                    </ng-messages>
                    <div ng-if="ctrl.error" class="alert alert-danger"> {{ctrl.message}}</div>
                    <div ng-if="!ctrl.error && ctrl.error !== undefined" class="alert alert-info"> {{ctrl.message}}</div>                     
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" ng-disabled="resetform.$invalid || resetform.email.$pristine" 
                      class="btn btn-default btn-lg btn-block center-block btn-height">Reset password</button>
                </div>
            </div>
        </form>
    </div>